body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-footer {
  background-color: #211a7e;
}

.page-footer .footer-copyright {
  background-color: #0e095ab3;
}

.main {
  min-height: calc(100vh - 64px - 183px);
  padding: 1.4rem 1rem;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 25px;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p.card-description {
  display: flex;
  justify-content: space-between;
  font-size: 1.35em;
  color: #5b898b;
}

.input-field {
  display: flex;
  align-items: center;
  gap: 30px;
}

.input-field > button {
  min-width: 142px;
  height: 40px;
  background: #a8d7e6;
  border: none;
  border-radius: 8px;
}

.label-radio {
  margin-right: 30px;
}
